name: Laravel and React Tests

on:
  push:
    branches:
      - main

jobs:
  laravel_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Install Composer dependencies
        run: composer install

      - name: Copy .env file
        run: cp .env

      - name: Configure Laravel environment
        run: |
          echo "DB_CONNECTION=mysql" >> .env
          echo "DB_HOST=127.0.0.1" >> .env
          echo "DB_PORT=3306" >> .env
          echo "DB_DATABASE=laravel" >> .env
          echo "DB_USERNAME=testing_user" >> .env
          echo "DB_PASSWORD=testing_password" >> .env

      - name: Artisan Migrate
        run: php artisan migrate 

      - name: Run Laravel tests
        run: php artisan test

  react_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install Node.js dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Run React tests
        run: npm test
